/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");

/*Variables CSS*/

:root{
    --header-height: 3rem;

    /*Colours*/
    --first-color: rgb(146, 69, 209);
    --first-color-dark: #ec2cbc;
    --text-color:black;
    --first-color-light:pink;
    --first-color-lighten: beige;

    /*Font and Typography*/
    --body-font: 'Lobster Two', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size:1.75rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:.97rem;
    --smaller-font-size:.85rem;

    /*Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*Margins*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*Z-indez*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    }

@media screen and (min-width: 768px){
    :root{
        --biggest-font-size: 4.75rem;
        --h1-font-size: 2.5rem;
        --h2-font-size:1.75rem;
        --h3-font-size:1.5rem;
        --normal-font-size:1.2rem;
        --small-font-size:.885rem;
        --smaller-font-size:.823rem;  
    }
}

/*BASE*/
*,::before, ::after{
    box-sizing: border-box;
}
    
html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h2, h3{
    font-weight: var(--font-semi-bold);
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


/*CLASS CSS*/
.section{
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display: block;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

/*LAYOUT*/
.bd-container{
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: var(--z-fixed);
background-color: pink;
}

/* ---- NAV---- */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: pink;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
    }
    
}

.nav__item{
    margin-bottom: var(--mb-3);
}

.nav__link{
    color: black; /*For words in the nav bar*/
    transition: .3s;
}

.nav__link:hover{
    color: var(--first-color-dark);
}

.nav__logo, .nav__toggle{
    color: black;
}

.nav__logo img{
    height: 48px;
    width: 48px;
}

.nav__logo{
    height: 47px;
    left: 90px;
    bottom: 100px;
}

.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
}

/*--SHOW MENU--*/
.show-menu{
top: var(--header-height);
}

/*--ACTIVE MENU--*/
.active-link{
    position: relative;
}

.active-link::after{
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: black; /*Underline on navbar*/
}

/*--CHANGE BACKGROUND HEADER--*/
.scroll-header{
    background-color: pink;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link{
    color: black; /*Nav header font colour when scrolling*/
}

.scroll-header .nav__menu{
    background-color: pink; /*Nav scroll header colour*/
}

/*---SCROLL TOP---*/
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: rgba(189, 172, 175, 0.7);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    /*visibility: hidden;*/
}

.scrolltop:hover{
    background-color: var(--first-color-dark);
}

.scrolltop__icon{
    font-size: 2rem;
    color: var(--first-color-lighten);
}

/*--SHOW SCROLL TOP*/
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/*----HOME----*/
.home{
    background-color: rgb(250, 229, 215);
    overflow: hidden;
}

.home__container{
    position: relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
}

.home__data{
    border-left: 4px solid var(--first-color);
    color: var(--text-color);
    padding-left: 1.5rem;
    z-index: var(--biggest-font-size);
}

.home__greeting, .home__keyword{
    display: block;
    font-weight: var(--font-bold);
}

.home__greeting{
    font-size: 2rem; /*1rem*/
}

.home__keyword{
    font-size: 3rem; /*1.5rem*/
    margin-bottom: var(--mb-1);
}

.home__cont{
    font-size: 2rem;
}

.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__img img{
    width:180px;
}

.home__social{
    display: flex;
    flex-direction: column;
}

.home__social-icon{
    width: max-content;
    font-size: 1.3rem;
    margin-bottom: var(--mb-2);
    color: var(--text-color);
}

.home__social-icon:hover{
    color: var(--first-color-dark);
}

/*----BUTTONS----*/
.button{
    display: inline-block;
    font-size: var(--mb-3);
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .5rem 0.5rem;
    border-radius: .25rem;
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-dark);
}

.button-light{
    background-color: var(--first-color-light);
}

/*.button-white{
    background-color: var(--first-color-lighten);
    color: var(--first-color-dark);
}

.button-white:hover{
    background-color: var(--first-color-lighten);
} */

.button-link{
    background: var(--first-color);
    color: black;
    padding: 0.5rem;
}

.button-link:hover{
    background: var(--first-color-dark);
}

/*---HOME ABOUT SECTION---*/

.about__data{
    text-align: center;
}

.about__description span{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
}

.about__number{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    display: block;
}

.about__img{
    justify-self: center;
    width: 280px;
    border-radius: .5rem;
}

/*----HOME SERVICES SECTION----*/
.service__container{
    row-gap: 3.5rem;
    align-items: center;
}

.service__title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-2);
    display: flex;
    align-items: center;
}

.service__title-icon{
    font-size: 1.75rem;
    margin-right: var(--mb-1);
}

.service__box{
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(227, 241, 186);
}


.service__area{
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.service__icon .service__time{
    font-size: var(--smaller-font-size);
    color: var(--first-color-light);
}

.service__time, .service__price, .service__type{
    display: block;
}


/*---HOME TEAM SECTION---*/
.team__data{
    padding: 3rem 1rem;
    background-color: #FFF;
    border-radius: .5rem;
    text-align: center;
    transition: .45s;
    box-shadow: 0 4px 6px rgba(191, 208, 224, 0.3);
}

.team__icon, .team__title{
    margin-bottom: var(--mb-2);
    color: var(--first-color);
}

.team__icon{
    font-size: 3rem;
}

.team__title{
    font-size: var(--h2-font-size);
}

.team__img{ /*Display the images as circles*/
    width: 170px;
    height: 200px;
    border-radius: 70%;
    justify-self: center;
    margin-bottom: var(--mb-1);
    margin-left: 3.1rem;
}

.team__description{
    margin-bottom: var(--mb-4);
    font-size: var(--h3-font-size);
}

.team__data:hover{
    transform: translateY(-5rem);
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

/*-----BOOK NOW HOME PAGE-----*/
.booking__container{
    padding: 1.5rem 1rem;
    background-color: lightskyblue;
    color: var(--first-color-lighten);
    border-radius: .5rem;
    text-align: center;
}

.booking__icon, .booking__title{
    font-size: 3.5rem;
}

.booking__title{
    font-size: 1.5rem;
}

.booking__description{
    margin-bottom: var(--mb-4);
}

.booking__button{
    color: #ec2cbc;
}

/*----SHOP SECTION OF HOME PAGE-----*/
.shop__nav{ /*the navigation of the sections at the top of the shop section*/
    text-align: center;
    margin-bottom: var(--mb-3);
    font-size: var(--h3-font-size);
}

.shop__item{
    margin: 0 var(--mb-2);
    cursor: pointer;
}

.shop__content{
    background-color: var(--first-color-lighten);
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.shop__img{
    width: 100%;
    transition: .4s;
}

.shop__data{
    padding: 1.5rem;
}

.shop__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.shop__title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin:var(--mb-2) 0;
}

.shop__content:hover{
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.shop__content:hover .shop__img{
    transform: scale(1.02); /*so the text box beneath is evenly scaled with each of the images*/
}

/* ACTIVE MENU PORTFOLIO */
.active-portfolio{
    color: var(--first-color-dark);
    font-weight: var(--font-semi-bold);
}

/*-----REVIEWS------*/
.review__content{
    display: grid;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: .5rem;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(47, 10, 13, .25);
}

.review__img{ /*Display the images as circles*/
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.review__client{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
    margin-bottom: var(--mb-2);
}

.swiper-pagination{
    position: initial;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

/*-----FOOTER-----*/
.footer{
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__container{
    padding: 3rem 0;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-semi-bold);
}

.footer__description{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
}

.footer__contact{
    margin-bottom: var(--mb-6);
    margin-left: var(--mb-6);
    margin-right: 3rem;
}

.footer__link{
    font-size: 1.4rem;
    color: var(--first-color-lighten);
    margin: 0 var(--mb-3);
    transition: .3s;
}

.footer__link:hover{
    color: var(--first-color-light);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    color: var(--first-color-light);
}


/*BOOKING FORM CSS*/

booking-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lobster Two', sans-serif;
  }

  .tabbed-form{
    width: 380px;
    background: #ffe9ec;
  }

  .form-titles{
    display: flex;
    justify-content: space-around;
    background: rgb(240, 209, 233);
    font-size: 16px;
    text-transform: uppercase;
  }

  .form-titles h2{
    background: #fff;
    background: linear-gradient
    (0deg, rgba (244, 206, 21, 1) 0%, rgba (232, 188, 6, 1) 100%);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
  }

  .active-tab{
    background: #ffe9ec!important; /*Turns white when we are on Contact form side*/
  }

  form{
    width: 85%;
    margin: 0 auto;
    padding: 30px 10px;
  }

  form input, form select{
    display: block;
    width: 100%;
    margin: 4px 0;
    padding: 8px 15px;
    font-size: 20px;
    border: 1px solid #eee;
    outline: none;
    }

    select{
      color: #757575;
      font-size: 20px;
    }

    form input:focus, form select:focus{
      border-color: rgb(240, 209, 233);
      box-shadow: 0 0 2px rgb(240, 209, 233);
      display: block;
    }

    .submit-section{
      background: rgb(240, 209, 233);
      background:linear-gradient
      (0deg, rgba (244, 206, 21, 1) 0%, rgba (232, 188, 6, 1) 100%);
      padding: 20px; /*For padding on submit margin*/
    }

    /*.submit-section button{
      background: plum;
      font-size: 20px;
      padding: 18px 40px;
      display: block;
      margin: 0 auto; //centers submit button 
      display: block;
      margin: 0 auto;
    }
    I replaced this section with #bookingButton below-> changed
    to include onclick method and validator() function to validate input */

    #form-2{
      display: none; /*Now we will use js to get each form separately clickable/accessible*/
    }

    .success{ /*used . for class*/
        background-color: plum;
        font-size: large;
        padding: 18px 40px;
        display: block;
    }

    #bookingButton{ /*used # for id*/
        color: black; /*for font colour*/
        background: plum;
        font-size: 20px;
        padding: 18px 40px;
        display: block;
        margin: 0 auto; /*centers submit button*/
        display: block;
        margin: 0 auto;
    }

    #bookingButton:hover{
        background: var(--first-color-dark);
    }


/*-----CONTACT FORM----*/
.contact-banner {
    background-image: linear-gradient(
      to right,
      rgb(231, 20, 143) 0%,
      rgb(191, 120, 219) 50%,
      rgb(155, 20, 182) 100%
    );
    color: white;
    padding: 40px;
  }
  
  .invalid {
    border: 1px solid red;
  }
  
  .mb-2 {
    margin-bottom: 20px;
  }
  
  .mb-4 {
    margin-bottom: 40px;
  }
  
  p {
    font-size: 30px;
  }
  
  .contact-description {
    margin-bottom: 50px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    border: 1px solid blueviolet;
    font-size: 20px;
    outline: none;
    color: #141414;
  }
  
  .form-control {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .form-control textarea{ 
      width: 300px;
  } /*To make textbox narrower for phone screens as it's going
  off the page- size can be changed manually by user on webpage though*/
  
  .error {
    color: red;
    font-size: 15px;
    margin-top: 6px;
  }
  
  label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .hide {
    opacity: 0;
  }
  
  textarea {
    width: 560px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    height: 200px;
    font-size: 18px;
  }
  
  button {
    color: black;
    padding: 20px;
    border: 1px solid rgb(3, 4, 14);
    border-radius: 10px;
    background: rgb(231, 148, 197);
    cursor: pointer;
    transition: all 0.5s;
    color: black;
    font-family: 'Lobster Two', sans-serif;
  }
  
  button:hover {
    background-image: linear-gradient(
      to right,
      rgb(231, 20, 143) 0%,
      rgb(231, 148, 197) 100%
    );
    color: white;
  }
  
  form {
    padding: 40px;
  }
  
  hr { /*line at bottom*/
    margin-bottom: 20px;
    margin-top: 20px;
    height: 1px;
    border: none;
    background-color: black;
  }

  .thank-you{ /*Our thank you message after submission*/
      padding: 40px;
      font-size: 32px;
      text-align: center;
  }



/*----MEDIA SCREEN SIZE CHANGE-----*/
@media screen and (min-width: 576px){
   .home__img img{
       width: 330px;
   } 

   .about__container,
   .team__container,
   .shop__container{
       grid-template-columns: repeat(2, 2fr)
   }

   .about__container{
       justify-content: center;
   }

   .service__container{
       justify-content: center;
   }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .section{
        padding-top: 6rem;
    }

    .section-title{
        margin-bottom: var(--mb-5);
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }

    .home__container{
        height: 100vh;
        grid-template-rows: max-content .5fr;
        align-content: flex-end;
    }

    .home__greeting{
        font-size: 1.25rem;
    }

    .home__keyword{
        font-size: 2rem;
    }

    .home__social{
        flex-direction: row;
        align-items: center;
    }
    .home__social-icon{
        margin-right: var(--mb-4);
        margin-bottom: 0;
    }
    .home__img img{
        width: 440px;
    }
    .about__description{
        text-align: initial;
    }
    .about__img{
        width: 420px;
    }

    .about__achievement{
        font-size: var(--h3-font-size);
    }
    .service__span{
        display: flex;
        flex-grow: 4;
        justify-content: space-between;
    }
    .team__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .booking__container{
        padding: 4.5rem 0;
    }
    .booking__data{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .booking__icon, .booking__title, .booking__description{
        margin-bottom: 0;
    }
    .booking__icon{
        font-size: 6rem;
    }
    .booking__title{
        font-size: 2.5rem;
    }

    .contact-banner{
        padding-top: 6rem;
    }

    .checkbox{
        width: 20px;
    }

    .tabbed-form{
        width: 500px;
    }

    .form-control textarea{ 
        width: 500px;
    }
}

@media screen and (min-width: 1024px){
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .service__container{
        column-gap: var(6rem);
    }

    .contact-banner{
        padding-top: 8rem; /*so the Get in Touch contact banner isn't hidden underneath the navigation bar
        upon screen expansion */
    }

    .form-titles{
        padding-top: 8rem;
    }

    .about__container{
        grid-template-columns: repeat(2, 2fr);
        justify-content: center;
    }

    .tabbed-form{
        width: 900px;
    }

    .form-control textarea{ 
        width: 700px;
    }
}

/* For tall screens on mobiles and desktop 
@media screen and (min-height: 721px) {
   .home__container {
     height: 640px;
   }
}*/


/*--------TEAM PAGE--------*/

.team__item{
    margin-bottom: var(--mb-3);
    margin-left: 200px;
    font-size: var(--mb-3);
}

.team__link{
    color: black; /*For words in the team bar*/
    transition: .3s;
}

.team__link:hover{
    color: var(--first-color-dark);
}

.team__logo, .team__toggle{
    color: black;
}

.team__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/*--SHOW MENU--*/
.show-menu{
top: var(--header-height);
}

/*--ACTIVE MENU--*/
.active-link{
    position: relative;
}

.active-link::after{
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: black; /*Underline on navbar*/
}

/*-----TEAM PAGE profiles------*/
.profile__content{
    display: grid;
    background-color: rgb(60, 29, 202);
    color: var(--first-color-lighten);
    border-radius: .5rem;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(47, 10, 13, .25);
}

.profile__img{ /*Display the images as circles*/
    width: 120px;
    height: 160px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.profile__client{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
    margin-bottom: var(--mb-2);
}

.profile__title{
    font-size: var(--h1-font-size);
}

.profile__description{
    font-size: var(--h2-font-size);
    padding-bottom: 2rem;
}

.swiper-pagination{
    position: initial;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}


/*-----SHOP PAGE PRODUCTS------*/
.service-center {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
  }
  
  .service {
    border: 1px solid #ccc;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .service .icon {
    color: var(--primary);
    font-size: 4rem;
  }
  
  .service h4 {
    margin-bottom: 0.3rem;
  }
  
  .service .text {
    font-size: 1.5rem;
    color: #777;
  }
  
  /* PRODUCTS New Arrivals */
  .title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 600;
  }
  
  .title h1 {
    font-weight: 400;
  }
  
  .title span {
    color: var(--primary);
  }

  

  
  
  .product-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
    margin-bottom: 5rem;
    background-color: rgba(190, 241, 205, 0.3);
  }
  
  .product {
    text-align: center;
    padding-bottom: 1rem;
    transition: all 500ms ease-in-out;
  }
  
  .product:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product .img-cover {
    overflow: hidden;
  }
  
  .product img {
    transition: all 500ms ease-in-out;
  }
  
  .product:hover img {
    transform: scale(1.2);
  }
  
  @media only screen and (max-width: 567px) {
    .title {
      font-size: 2rem;
    }
  }
  
  .cat {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 4vw);
    gap: 1rem;
  }

  @media only screen and (min-width: 768px) {
    .cat {
        display: grid;
      gap: 1rem;
    }
  }
  
  .cat .item {
    overflow: hidden;
  }
  
  .cat img {
    object-fit: cover;
    height: auto;
    width: 100%;
    transition: all 500ms ease-out;
  }
  
  .cat .item-1 img {
    object-fit: fill;
  }
  
  .cat img:hover {
    transform: scale(1.2);
  }
  
  .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  
  .item-2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  .item-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  
  .item-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .service-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
  }
  
  .service {
    border: 1px solid #ccc;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .service .icon {
    color: var(--first-color-dark);
    font-size: 4rem;
  }
  
  .service h4 {
    margin-bottom: 0.3rem;
  }
  
  .service .text {
    font-size: 1.5rem;
    color: rgb(7, 39, 75);
  }
  
  /* Style the button and place it in the middle of the container/image */
  .item-1 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: pink;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .item .btn:hover {
    background-color: black;
  }


  /*-----POPUP MODAL PAGE-----*/

  :root{      
     
      --container-color: #FFF

       /*========== z index ==========*/
   --z-modal: 1000;


  }
  @media screen and (min-width: 968px){
      :root{
          --big-font-size: 1.75rem;
          --normal-font-size: 1rem;
      }
  }
  /*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body,
  button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body{
    background-color: beige;
    color: var(--text-color);
    position: relative;
  }
  
  button{
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  

  .container{
      margin-left: 1rem;
      margin-right: 1rem;
  }

  .modal{
      height: 0vh;
      display: grid;
      place-items: center;
  }

  .modal__button{
      display: inline-block;
      background-color: var(--first-color-dark);
      color: #FFF;
      padding: 1.5rem 2.5rem;
      font-size: var(--h1-font-size);
      border-radius: .5rem;
      transition: .3s;
  }

  .modal__button:hover{
      background-color: rgb(65, 139, 204);
  }

  .modal__container{
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgb(236, 234, 226);
      width: 100%;
      height: 100%;
      display: grid;
      align-items: flex-end;
      overflow: hidden;
      transition: all .3s;
      z-index: var(--z-modal);
      visibility: hidden;
      opacity: 0;

      /*===Effect 3 ===*/
      /*perspective: 1000px;*/
  }

  .modal__content{
      position: static;
      background-color: paleturquoise;
      text-align: center;
      padding: 3rem 2rem 2rem;
      border-radius: 1rem 1rem 0 0;
      transition: all .3s;

      /*===EFFECT 1===*/
      transform:translateY(5%);

      /*===EFFECT 1===*/
      /* transform: scale(.5)translateY(10%); */
      }

  .modal__img{
      width: 150px;
      margin-bottom: .75rem;
  }

  .modal__close{
      display: inline-flex;
      background-color: #fff;
      border-radius: .25rem;
      color: black;
      font-size: 2.5rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
  }

  .modal__title{
      font-size: var(--h2-font-size);
      font-style: var(--font-bold);
      color: var(--title-color);
      font-weight: 500;
  }

  .modal__description{
      margin-bottom: 1.5rem;
  }

  .modal__button-width{
      width: 90%;
  }

  .modal__button-link{
      display: block;
      margin: 1rem auto 0;
      background-color: transparent;
      color: black;
      font-weight: 500;
  }

  /*--SHOW MODAL--*/
  .show-modal{
      visibility: visible;
      opacity: 1;
  }

  .show-modal .modal__content{
      transform: translateY(0);
  }

  /*---BREAKPOINTS---*/
  /* For small devices */
@media screen and (min-width: 576px){
    .modal__content{
      margin: auto;
      width: 380px;
      border-radius: 1.25rem;
    }
  
    .modal__img{
      width: 170px;
    }
  }




